html,body { height:100%; }
#bg{
	background-repeat: no-repeat;
	 min-height: 100%;
	 min-width: 4024px;
	 margin: 0;
	 padding: 0;
}
header img{
	width: 100%
}
nav {

  width: 250px;
  position: absolute;
  margin-top: 30px;
  bottom: 0;
  background: rgba(0,0,0, 0.1);
  border-radius: 10px;
  box-shadow: 5px 7px 10px rgba(0,0,0, .5);
  height: 80%;

 
}
 nav ul{
  position: relative;
  list-style-type: none;
  height: 100%;
  
}
nav ul li a {
	display: flex;
	align-items: center;
	font-family: arial;
	font-size: 1.15em;
	text-decoration: none;
	text-transform: capitalize;
	color: #000;
	padding: 10px 30px;
	height: 50px;
	transition: .5s ease;
	border-radius: 0 30px;
}
 nav ul li a:hover{
	background: rgba(0,0,0, 0.7);
	color: #fff;
 }

body{
	 min-height: 100%;
	 margin: 0;
	 padding: 0;
	 background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	 
}
.bookcontent{
	margin-left: 300px;
}

.content{
	margin-left: 50px;
}

#listbooks{
	  font-family: Lucida Console;

	text-align: center;
}
#listbooks p{
	padding: 5px;

}