<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<header>
<!-- <img style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;" src="{% static "catalog/libheader01.jpg" %}" alt="My image"/> -->
</header>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
	  <nav>
  	   <ul >
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'books' %}">All books</a></li>
          <li><a href="{% url 'authors' %}">All authors</a></li>
          {% if user.is_authenticated %}
            <li style="display: flex align-items: center; font-family: arial;font-size: 1.15em; text-decoration: none; text-transform: capitalize; color: #000; padding: 10px 30px; height: 50px; transition: .5s ease; border-radius: 0 30px;">User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
          {% endif %}
        </ul>
		</nav>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}
	  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
	  {% endblock %}</div>
    </div>
  </div>
</body>
</html>